@media only screen and (min-device-width: 360px) and (max-device-width: 768px){
    .body{
        flex-direction: column;
    }

    .screen-1{
        width: 100%;
        height: 200vw;
        flex-direction: column;
    }

    .logo-1{
        width: 100%;
        height: 100vw;
    }

    .circles-1{
        width: 100%;
        height: 100vw;
    }

    .strelki-1{
        width: 100%;
        height: 100vw;
    }

    .screen-2{
        width: 100%;
        height: calc(50vw/3);
        background-color: black;
    }

    .runline-2 p{
        font-size: 8vw;
        margin: 3.6vw auto;
    }

    @keyframes runline-2{
        0% { transform: translateX(-15%);}
        100% { transform: translateX(0%);}
    }

    .screen-3{
        width: 100%;
        height: calc(50vw/3);
    }

}