html,
body {
  min-height: 100%;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'helvetica';
    background-color: #ffffff;
    display: block;
    margin: 0 auto;
  }

.screen-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 50vw;
}

.logo-1{
    position: relative;
    width: 50vw;
    height: 50vw;
}

.let-1-r{
    position: absolute;
    height: 50vw;
    animation: scale-let-1-r 1s infinite;
    transform-origin: top;
}

.let-1-e{
    position: absolute;
    left: 25vw;
    top: 0%;
    height: 25vw;
    animation: scale-let-1-e 1s infinite;
    transform-origin: right top;
}

.let-1-n{
    position: absolute;
    left: 37.5vw;
    top: 25vw;
    height: 25vw;
    animation: scale-let-1-n 1s infinite;
    transform-origin: bottom;
}

.let-1-o{
    position: absolute;
    left: 25vw;
    top: 37.5vw;
    height: 12.5vw;
    animation: scale-let-1-o 1s infinite;
    transform-origin: right bottom;
}

.let-1-v{
    position: absolute;
    left: 25vw;
    top: 25vw;
    height: 12.5vw;
    animation: scale-let-1-v 1s infinite;
    transform-origin: left center;
}

.let-1-a{
    position: absolute;
    left: 31.25vw;
    top: 25vw;
    height: 12.5vw;
    animation: scale-let-1-a 1s infinite;
    transform-origin: right center;
}

.circles-1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
    height: 50vw;
    background: #9900FF;
}
.cirbox{
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    width: 33.3%;
    height: 33.3%;
}
.circle-1-1{
    margin: 0 auto;
    background: white;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    animation: scale-1-1 0.75s infinite;
}

.circle-1-2{
    margin: 0 auto;
    background: black;
    width: 33%;
    height: 33%;
    border-radius: 50%;
    animation: scale-1-2 2s infinite;
}

.circle-1-3{
    margin: 0 auto;
    background: white;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    animation: scale-1-4 1.5s infinite;
}

.circle-1-4{
    margin: 0 auto;
    background: black;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    animation: scale-1-4 2.2s infinite;
}

.circle-1-5{
    margin: 0 auto;
    background: white;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    animation: scale-1-1 0.8s infinite;
}

.circle-1-6{
    margin: 0 auto;
    background: black;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    animation: scale-1-3 2s infinite;
}

.circle-1-7{
    margin: 0 auto;
    background: white;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    animation: scale-1-3 1.5s infinite;
}

.circle-1-8{
    margin: 0 auto;
    background: black;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    animation: scale-1-1 1s infinite;
}

.circle-1-9{
    margin: 0 auto;
    background: white;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    animation: scale-1-2 1.5s infinite;
}

.strelki{
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: 50vw;
    top: 0vw;
}

.strelki img{
    width: 25vw;
}

.st1{
    position: absolute;
    left: 3vw;
    top: 3vw;
    animation: rotate-1-1 1s infinite linear;
}

.st2{
    position: absolute;
    left: 22vw;
    top: 22vw;
    animation: rotate-1-2 1s infinite linear;
}

.screen-2{
    width: 100vw;
    height: calc(25vw/3);
    background-color: #9900FF;
    overflow-x: hidden;
}

.runline{
    position: absolute;
    display: flex;
    width: 125vw;
    height: calc(25vw/3);
    align-items:top;
    justify-content: center;
    overflow: hidden;
    animation: runline-2 0.7s linear infinite;
}

.runline p{
    color: #ffffff;
    font-size: 4vw;
    margin: 1.8vw auto;
    transform: scale(0.45, 2.5);
}

.down{
    rotate: 180deg;
}
.runline:hover {
    animation-play-state: paused;
}

.screen-3{
    width: 100vw;
    height: calc(25vw/3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellips-3-1{
    position: relative;
    width: calc(50vw/3);
    height: calc(25vw/3);
}

.text-3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(200vw/3);
    height: calc(25vw/3);
    overflow: hidden;
}

.im-3{
    position: relative;
    height: calc(25vw/3);
    width: calc(200vw/3);
    transform-origin: left;
    animation: scale-3-1 1s infinite;
}

.im-3 img{
    position: relative;
    width: 100%;
    height: 100%;;
}

.ellips-3-2{
    position: relative;
    width: calc(50vw/3);
    height: calc(25vw/3);
}

.el-3-1{
    position: relative;
    width: calc(50vw/3);
    height: calc(25vw/3);
}

.el-3-2{
    position: relative;
    width: calc(50vw/3);
    height: calc(25vw/3);
}

.screen-4{
    width: 100vw;
    height: calc(100vw/3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-4-1{
    position: relative;
    width: calc(50vw/3);
    height: calc(100vw/3);
}

.back-4{
    position: absolute;
    width: calc(50vw/3);
    height: calc(100vw/3);
}
.t-list-4-1{
    position: absolute;
    width: calc(50vw/3);
    height: calc(100vw/3);
    animation: scale-4 1s infinite;
    transform-origin: top;
}
.list-4-2{
    position: relative;
    width: calc(50vw/3);
    height: calc(100vw/3);
}

.t-list-4-2{
    position: absolute;
    width: calc(50vw/3);
    height: calc(100vw/3);
    animation: scale-4 1s infinite;
    transform-origin: bottom;
}

.n86{
    position: relative;
    width: calc(200vw/3);
    height: calc(100vw/3);
    background-color: #9900FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.strbox-4{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
}

.strbox-4 img{
    position: absolute;
    top: 1vw;
    width: 45%;
    height: 90%;
}

.wstr-4{
    left: 1vw;
    animation: rotate-4-w 1.05s infinite linear;
    transform-origin: right;
}

.bstr-4{
    right: 1vw;
    animation: rotate-4-b 1.05s infinite linear;
    transform-origin: left;
}


.num-4{
    height:  calc(100vw/3);
    width:  50vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.num-4-1{
    color: #ffffff;
    position: relative;
    font-size: 40vw;
    transform: scale(1.35,0.6);
}

.num-4-1:hover{
    color: black;
}

.num-4-2{
    color: #ffffff;
    position: relative;
    margin-bottom: 1.3vw;
    font-size: 40vw;
    transform: scale(1,1.17);
}

.num-4-2:hover{
    color: black;
}

.screen-5{
    width: 100vw;
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.let-5-r{
    height: calc(48vw/3);
    transform: scale(1, 1.07);
}

.let-5-e{
    height: calc(48vw/3);
    transform: scale(1, 1.07);
}

.let-5-n{
    height: calc(48vw/3);
    transform: scale(1, 1.07);
}

.let-5-o{
    height: calc(22vw/3);
    transform: scale(1, 1.07);
    animation: move-5-1 1s infinite;
}

.let-5-v{
    height: calc(48vw/3);
    transform: scale(1, 1.07);
}

.let-5-a{
    height: calc(22vw/3);
    transform: scale(1, 1.07);
    animation: move-5-2 1s infinite;
}

.screen-6{
    width: 100vw;
    height: calc(100vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-6{
    width: calc(100vw/3);
    height: calc(100vw/3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.drop-6{
    width: calc(100vw/3);
    height: calc(100vw/3+5vw);
    position: relative;
    animation: drop-6 0.2s infinite linear;
}

.drop-6 p{
    color: #9900FF;
    font-size: 2vw;
    margin: 0.5vw auto;
}

.drop-6:hover{
    animation-play-state: paused;
}

.circle-6{
    position: absolute;
    width: 10vw;
    animation: rotate-6 1s infinite linear;
}

.right-6{
    width: calc(200vw/3);
    height: calc(100vw/3);
    background: black;
    position: relative;
    overflow: hidden;
}


.grad-6-1{
    width: calc(100vw/3);
    position: absolute;
    top: calc(50vw/3);
    left: 0;
}

.grad-6-2{
    width: calc(50vw/3);
    position: absolute;
    top: 0;
    left: 50vw;
    rotate: 180deg;
}

.square-6{
    width: calc(50vw/3);
    position: absolute;
    animation: move-sq-6 2s infinite;
}

.text-6{
    width: calc(50vw/3);
    position: absolute;
    animation: move-t-6 2s infinite;
}

.text-6:hover{
    animation-play-state: paused;
}

.screen-7{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: start;
    align-items: top;
    overflow: hidden;
}

.left-7{
    width: 50vw;
    height: 50vw;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: top;
    overflow: hidden;
    flex-wrap: wrap;
}

.navyk{
    width: 50vw;
    height: calc(50vw/3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.back-7{
    position: absolute;
    height: calc(50vw/3);
    left: 0;
    top: 0;
}

.letbox-7-1{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: scale-7-1 1s infinite;
    transform-origin: left;
}

.letbox-7-1 img{
    position: relative;
    width: 100%;
    transform: scale(1, 1.17);
}

.letbox-7-2{
    position: absolute;
    left: calc(50vw/3);
    top: 0;
    width: calc(25vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: scale-7-2 1s infinite;
    transform-origin: right;
}

.letbox-7-2 img{
    position: relative;
    width: 100%;
    transform: scale(1, 1.17);
}

.letbox-7-3{
    position: absolute;
    left: calc(25vw);
    top: 0;
    width: calc(25vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.letbox-7-3 img{
    position: relative;
    width: 100%;
    transform: scale(1, 1.18);
}

.letbox-7-4{
    position: absolute;
    left: calc(100vw/3);
    top: 0;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.letbox-7-4 img{
    position: relative;
    width: 100%;
    transform: scale(1, 1.05);
}

.let-7-4{
    animation: scale-7-4 1s infinite;
    transform-origin: top;
}

.let-7-5{
    animation: scale-7-5 1s infinite;
    transform-origin: bottom;
}

.middle-bstr-7{
    position: absolute;
    width: 50vw;
    height: calc(50vw/3);
    left: 0;
    top: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bstr-7-1{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bstr-7-2{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    rotate: 180deg;
}

.bstr-7-3{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.middle-dots-7{
    position: absolute;
    width: 50vw;
    height: calc(50vw/3);
    left: 0;
    top: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.dot-7-1, .dot-7-2, .dot-7-3{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.middle-dots-7 img{
    width: 3vw;
}

.middle-pstr-7{
    position: absolute;
    width: 50vw;
    height: calc(50vw/3);
    left: 0;
    top: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pstr-7-1{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.empty{
    position: relative;
    width: 50vw;
    height: calc(50vw/3);
}
.pstr-7-2{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    rotate: 180deg;
}

.pstr-7-3{
    position: relative;
    width: calc(50vw/3);
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.black-str-7{
    position: relative;
    width: 6.6vw;
    margin-right: 5.8vw;
    transform-origin: right center;
    animation: rotate-7 0.8s infinite linear;
}

.purple-str-7{
    position: relative;
    width: 4vw;
    margin-left: 4.5vw;
    transform-origin: left center;
    animation: rotate-7 0.8s infinite linear;
}

.connect-7{
    position: relative;
    width: 50vw;
    height: calc(50vw/3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.connect-7 img{
    height: calc(55vw/3);
    position: absolute;
}

.connect-7 p{
    position: relative;
    margin-bottom: 5.5vw;
    color: #9900FF;
    font-size: 20vw;
    transform: scale(0.4, 1.6);
    animation: pulse-7 1s infinite;
}

.logo-7{
    position: relative;
    width: 50vw;
    height: 50vw;
}

.let-7-r{
    position: absolute;
    width: 25vw;
    height: 50vw;
    background: url(../img/let-7-r.svg);
    background-size: cover;
    background-repeat: no-repeat
}

.let-7-e{
    position: absolute;
    left: 25vw;
    top: 0%;
    height: 25vw;
    width: 25vw;

    background: url(../img/let-7-e.svg);
    background-size: cover;
    background-repeat: no-repeat
}

.let-7-n{
    position: absolute;
    left: 37.5vw;
    top: 25vw;
    height: 25vw;
    width: 12.5vw;
    background: url(../img/let-7-n.svg);
    background-size: cover;
    background-repeat: no-repeat
}

.let-7-o{
    position: absolute;
    left: 25vw;
    top: 37.5vw;
    height: 12.5vw;
    width: 12.5vw;
    background: url(../img/let-7-o.svg);
    background-size: cover;
    background-repeat: no-repeat
}

.let-7-v{
    position: absolute;
    left: 25vw;
    top: 25vw;
    height: 12.5vw;
    width: 6.25vw;
    background: url(../img/let-7-v.svg);
    background-size: cover;
    background-repeat: no-repeat
}

.let-7-a{
    position: absolute;
    left: 31.25vw;
    top: 25vw;
    height: 12.5vw;
    width: 6.25vw;
    background: url(../img/let-7-a.svg);
    background-size: cover;
    background-repeat: no-repeat
}

.let-7-r:hover{
    background-image: url(../img/let-1-r.svg);
}

.let-7-e:hover{
    background-image: url(../img/let-1-e.svg);
}

.let-7-n:hover{
    background-image: url(../img/let-1-n.svg);
}

.let-7-o:hover{
    background-image: url(../img/let-1-o.svg);
}

.let-7-v:hover{
    background-image: url(../img/let-1-v.svg);
}

.let-7-a:hover{
    background-image: url(../img/let-1-a.svg);
}